pandas
streamlit>=1.23.0
numpy
requests
matplotlib
seaborn
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server
httpx           # HTTP client
requests
PyMuPDF
shapely
google-cloud-storage>=2.10,<3.0
